<ul class="list-group" *ngIf="loaded && logs.length > 0">
  <li *ngFor="let i of logs" [class.list-group-item-secondary]="selectedLog === i" class="list-group-item d-flex justify-content-between align-items-center">
    <a (click)="onSelect(i)" href="#">{{i.text}}</a>
    <span class="log-date">{{i.date | date: 'short'}}</span>
    <i class="fa fa-remove" (click)="onDelete(i)"></i>
  </li>
</ul>

<div *ngIf="loaded && logs.length == 0">
  <h5>There are no logs in the system</h5>
</div>

<div *ngIf="!loaded">
  <h5>Loading...</h5>
</div>
